/*==================================
            ABOUT
==================================*/

.about{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:30px;

    align-items:center;

}

.about-card{

    background:rgba(15,23,42,.75);

    backdrop-filter:blur(18px);

    border-radius:24px;

    border:1px solid rgba(255,255,255,.08);

    padding:35px;

}

.about-card h2{

    margin-bottom:20px;

    font-size:32px;

}

.about-card p{

    color:#CBD5E1;

    line-height:32px;

}

.about-info{

    display:grid;

    gap:18px;

}

.info-box{

    background:#0F172A;

    border-radius:20px;

    padding:22px;

    transition:.3s;

}

.info-box:hover{

    transform:translateY(-5px);

    border:1px solid #3B82F6;

}

.info-box h3{

    color:#3B82F6;

    margin-bottom:10px;

}